*{
    box-sizing: border-box;
}

header{
    padding: 35px;
    background-color: blanchedalmond;
    border: 1px solid bisque;
    text-align: center;
}

nav{
    float: left;
    width: 20%;
    text-align: center;
}
nav ul{
    list-style-type: none;
    text-align: center;
    background-color: blanchedalmond;
    border: 1px solid black;
    display: block;
    padding: 10px;
    margin-top: 0px;
}
article{
    float: left;
    width: 80%;
    background-color: blanchedalmond;
    border: 1px solid black;
    padding: 0 20px;
}
details{
    color: gray;
}
footer{
    text-align: center;
}
span{
    font-size: medium;
}